<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
		        	<li><a href="/about">Book Me</a></li>
	        		<li><a href="/talks">My Talks</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="http://username.github.io/blog/atom.xml">RSS</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:anjuan@AnjuanSimmons.com">email</a></li>
	        		<li><a href="https://github.com/anjuan">github.com/anjuan</a></li>
				</ul>
			</footer>
		</body>
	</html>
